

<!--<link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
-->

  <div class="container">
    <h1><strong>Welcome to Buzzwalls</strong></h1>

    <p class="flash"><%= notice %><%= alert %></p>

      <div class="container-main">
        <h1>top#index</h1>
        <%= link_to "To walls#index", walls_path, class: 'btn btn-link' %><br>
      </div>

      <div class="container-contact">
      <section class="contact bg-primary" id="contact">
        <h2>We
          <i class="fa fa-heart"></i>
          you to sign in with</h2>
          <ul class="list-inline list-social">
            <li class="list-inline-item social-twitter">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item social-facebook">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item social-google-plus">
              <a href="#">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
          </ul>
      </section>
      </div>
  </div>
