
<div class = "container-fluid">

  <section class="main">
    <div class="row col-md-8 col-md-offset-2">

      <h1><strong>Welcome # Buzzwalls</strong></h1>

      <p class="flash"></p>
      <% if notice.nil? == false %>
        <div class="alert alert-success" role="alert" ><%= notice %><%= alert %></div>
      <% end %>
      <%= link_to "Go to wall", walls_path, class: 'btn btn-lg btn-default' %><br>

    </div>

    <div class="row col-md-4 col-md-offset-1 col-xs-10 col-xs-offset-1">
      <img src="<%= asset_path "iphone.jpg" %>">
    </div>
  </section>

</div>
